<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Central Tracking Server</title>
</head>
<body>
    <h1>Room Overview</h1>
    <a href="/config/">configuration</a>

    <div id="main">

    <% for(room of rooms) { %> 
        <hr>
        <b>Room <%= room.roomNumber %></b>
        <p>PSS: 
            <% for(pss of room.passages){ %> 
            <%= `${pss.sensorID}, ` %>
            <%}%>
        </p>
        
        <% if(room.aoi != null){ %>
        <p>RSS: <%= room.aoi.sensorID%></p>
        <% }; %>
    <%};%>

    </div>
</body>
</html>